/*_____________NOTICIAS_____________*/
*{
	margin: 0;
	padding: 0;
	
}

.disciplinas2{
	display: grid;
   	grid-template-columns:25% 25% 25% 25%;
	grid-template-rows: auto;
	background-color: black;
}

.imagemtopodisciplinas2{
	background-image:url(../img/si_curso.jpg);
	background-repeat: no-repeat;
	height: 300px;
	grid-row:1;
   	grid-column-start: 1;
   	grid-column-end: 5;
   	border-bottom: solid 4px #c7134e;
}
	

.imagemtopodisciplinas2 h1{
	font: 50px/42px Verdana bold;
	text-shadow: 0px 0px 3px darkred;
   	letter-spacing: .05em;
   	text-align: center;
   	padding-top: 110px;
   	text-transform: uppercase;
	width:100%;
	color: #fff;
	margin-top: inherit;
}

.imagemtopodisciplinas2 img{
	text-shadow: 0px 0px 3px darkred;
   	letter-spacing: .05em;
   	margin-left: 48%;
   	padding-top: 30px;
}

.periodo{
	border:solid 1px #c7134e;
	grid-row:2;
   	grid-column-start: 1;
   	grid-column-end: 5;
   	height: auto;
   	color: #fff;
   	background-color: black;
   	text-align: center;
}

.periodo h2{
	border:solid 1px #c7134e;
	grid-row:2;
   	grid-column-start: 1;
   	grid-column-end: 1;
   	height: auto;
   	color: #fff;
   	background-color: #c7134e;;
   	text-align: center;
   	text-transform: uppercase;
   	padding-top: px;
}

.periodo p{
	grid-row:3;
   	grid-column-start: 1;
   	grid-column-end: 1;

}

.semestre1{
	grid-row:3;
   	grid-column-start: 2;
   	grid-column-end: 4;
   	color: #fff;
   	text-align: center;
   	text-transform: uppercase;
   	text-shadow: 0px 0px 3px darkred;
   	border-radius: 50px;
	border: solid; 2px #fff;
	margin: 20px;
	padding: 7px;

}

.mat1{
	grid-row:4;
   	grid-column-start: 1;
   	grid-column-end: 1;
   	text-align: center;
	border-radius: 50px;
	border: dashed 2px darkred;
	color: #fff; 
	margin: 5px;
	padding: 15px;

}
.mat1 h3{
	text-transform: uppercase;
	font-size: 18px;

}


.mat2{
	grid-row:4;
   	grid-column-start: 2;
   	grid-column-end: 2;
   	text-align: center;
	border-radius: 50px;
	border: dashed 2px darkred;
	color: #fff; 
	margin: 5px;
	padding: 15px;

}
.mat2 h3{
	text-transform: uppercase;
	font-size: 18px;

}

.mat3{
	grid-row:4;
   	grid-column-start: 3;
   	grid-column-end: 3;
   	text-align: center;
	border-radius: 50px;
	border: dashed 2px darkred;
	color: #fff; 
	margin: 5px;
	padding: 15px;

}
.mat3 h3{
	text-transform: uppercase;
	font-size: 18px;

}

.mat4{
	grid-row:4;
   	grid-column-start: 4;
   	grid-column-end: 4;
   	text-align: center;
	border-radius: 50px;
	border: dashed 2px darkred;
	color: #fff; 
	margin: 5px;
	padding: 15px;

}
.mat4 h3{
	text-transform: uppercase;
	font-size: 18px;

}


