
/* lista curso ajuste */
@media (max-width:1000px){

.chamada{
width:300px;
float: left;
margin-left:80px;
text-align: center;
}



.fonte{
	font-size: 10px;
}

*{
	width: 100%;
}
.cursos{
   height:1000px;
   
}

}



@media (min-width:500px){

	.cursos{
		height: 1400px;
	}

*{
	width: 100%;
}

.fonte{
	font-size: 10px;
}

.chamada{
	width: 300px;
	float: left;
	margin-left: 80px;
	text-align: center;
}



}