*{
	margin: 0;
	padding: 0;
	
}

/*Centralizando elemento*/

.center {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

/*btn abre menu*/
label[for="bt_menu"]{
	display: none;
	padding: 5px;
	margin-top: 10px; 
	background-color: #cc2124;
	color: #fff;
	font-family: Arial;
	text-align: center;
	font-size: 30px;
	width: 50px;
	height: 50px;
	grid-row:1;
	grid-column:1;
	
}

#bt_menu{
	display: none;
	}


/*Margem para menu fixo*/
.margem_sup{
	width: 100%;
	height: 80px;
	background-color: #fff;
}



/*Estilizando_Topo*/

.page-header {
   	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px;
    background-color: #fff;
    position: fixed;
    z-index: 6;
    width: 100%;
}


.page-logo{
	grid-row: 1;
    grid-column:1;
}

.page-menu {
    grid-row: 1;
    grid-column-start:2;
    grid-column-end:5;
 }

.page-menu ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	
}

.page-menu li{
	flex:auto;
	padding-left: 20px;

}

.page-menu a{
	text-decoration: none;
	color: #888;
	padding: 10px;
	position: relative;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 17px;
    font-weight: 400;

}

.page-menu a:hover{
	color: #323293;
	transition-delay: 5.0;
}

.page-menu a:before{
	content: '';
	width:20px;
	height: 3px;
	background: #888;
	position: absolute;
	top: 90%;
	left: 10px;
	transition: .5s;

}

.page-menu ul li:hover a:before{
	width: 50%;
	background: #323293

}

.bt_login{
	grid-row: 1;
    grid-column:3;
    text-align: center;
	text-decoration: none;
	list-style: none;
	font: 14px Arial;	
	color: #fff;
}

.bt_login:hover{
	color: #ed145d;
	transition: .5s;
}

/*______________________________Responsivo_Topo_Inicio_______________________________________*/

/* iPads (restrato e paisagem) */
@media only screen and (max-width :860px) {
      /* estilos */

    .page-header {
   	display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80px; 
	}


	#bt_menu:checked ~ .page-menu {
		display: block;
	}

	label[for="bt_menu"]{
	display: block;
	
	}

    .page-logo{
		grid-row: 1;
    	grid-column:2;
	}

	.page-menu {
		display: none;
		width: 100%;
		grid-row-start:2;
		grid-row-end:3;
    	grid-column-start: 1;
    	grid-column-end: 4;
    	background: #313489;
    	transition: all .5s;
    }


	.page-menu ul{
		display: block;
		width: 100%;
	}

	.page-menu li{
		padding: 20px;
		flex:none;
		border:solid 1px #fff;
	}

	.page-menu li:hover{
		background-color: rgba(49, 50, 139, 0.7);
		transition: .5s;
	}

	.page-menu a{
		color: #fff;
	}

	.page-menu a:hover{
	color: #d01f27;
	}
	.page-menu a:before{
	content: '';
	background: #fff
	}

	.page-menu ul li:hover a:before{
	width: 50%;
	background: #fff;

	}
}



/*__________________________________Responsivo_Topo_Fim_____________________*/

/*Estilizando_Topo_fim*/

/*Estilizando_Corpo_Inicio*/
	
.corpo{
	height: 300px;
}
/*______________________________Responsivo_Corpo_Fim_______________________________________*/



/*Estilizando_rodapé_Inicio*/



/*Rodapé*/

.page-rodape{
	display: grid;
    grid-template-columns: 200px 200px 200px 200px ;
    grid-template-rows: 350px 30px;
    background-color: #000;
}

.logo_rodape{
	padding:40px;
	padding-top: 60px;
	grid-row:1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.copy{
	width: 100%;
	height: 30px;
	color: #fff;
	text-align: center;
	background-color: black;
	grid-row:2;
    grid-column-start: 1;
    grid-column-end: 6;
 
}

.copy hr{
	size:30px;
	color: #ccc;
}


.menu_institucional_01{
	grid-row:1;
    grid-column-start: 3;
    grid-column-end: 3;
    position: relative;
    width:200px;
    height: 300px;
}


.menu_institucional_01 li{
	list-style: none;
	padding-top: 15px; 
	transition: color .4s;
}

.menu_institucional_01 li a{
	color: #868686;
	text-decoration: none;
	font-size: 16px;
}

.menu_institucional_01 li a:hover{
 	color: #fff;
}

.menu_institucional_02{
	grid-row:1;
    grid-column-start: 4;
    grid-column-end: 4;
    position: relative;
    width:200px;
    height: 300px; 
}

.menu_institucional_02 li{
	list-style: none;
	padding-top: 15px; 
	transition: color .4s;
}

.menu_institucional_02 li a{
	color: #868686;
	text-decoration: none;
	font-size: 16px;
}

.menu_institucional_02 li a:hover{
 	color: #fff;
}


.siga{
	color: #fff;
	font-size: 18px;
}

@media only screen and  (max-width :762px) {
	
	.page-rodape{
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
    background-color: #000;
	}

	.logo_rodape{
	margin-left: 50%;
	padding-top: 60px;
	grid-row:1;
    grid-column-start: 1;
    grid-column-end: 1;
}

	.menu_institucional_01{
	grid-row:2;
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    width:200px;
    height: 300px;
	}

	.menu_institucional_02{
	grid-row:3;
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    width:200px;
    height: 300px;
	}

	.copy{
	width: 100%;
	height: 30px;
	color: #fff;
	text-align: center;
	background-color: black;
	grid-row:4;
    grid-column-start: 1;
    grid-column-end: 5;
 
	}

}



/*_____________Detalhes de curso_____________*/
