*{
	margin:0px;
	padding:0px;
}
/*Menu superior*/
.topo{
	width: 100%;
	height:100px;
	background-color: #000;	
}

.logo{
	position:relative;
	left:100px;
	top:20px;
	top:30px;		
}

.menu_principal{
	width:60%;
	padding-left:100px;
}

.menu_principal ul{
	width: 100%;
	height: 30px;
	}

.menu_principal ul li {
	display:inline;
	list-style:none;
	padding-left:50px;
	float:right;
	
	}

.menu_principal ul li a {
	text-decoration:none;
	color:#fff;
}

.menu_principal ul li a:hover{
	color:#ed145d;	
}

